[submodule ".registry"]
	path = .registry
	url = https://github.com/pcbrom/pcbrom.r-universe.dev
	branch = HEAD
[submodule "gpumetropolis"]
	path = gpumetropolis
	url = https://github.com/pcbrom/gpumetropolis
